table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    text-align: right;
}

table, th{
    border: 1px solid black;
    text-align: center;
}

input{
    text-align:right;
 }

 .rightSide{
    color:rgb(10, 84, 245);
    text-align:right;
    font-weight: bold;
 }

 .incomeHead{
    background-color: green;
    color:white;
 }

 .incomeTotal{
    background-color: aquamarine;
    font-weight: bold;
 }