<html>
    <body>    
        <div class="main">
        {{title}}
        </div>
        <div>
  
                     <table > 
                        <!-- Setting static Header-->     
                         <tr class="othersHead" (contextmenu)="createField(myRowName.value)">
                             <th> House Expenses </th>
                             <th> Projected</th>
                             <th> Actual</th>
                             <th> Difference</th>
                         </tr> 
                         <tr *ngFor = "let row of rows">
                            <td> {{row.pHouse}}</td>
                            <td><input  [(ngModel)]="row.pHouse"></td>
                            <td><input  [(ngModel)]="row.aHouse"></td>
                            <td>{{ row.pHouse | sub: row.aHouse}}</td>
                        </tr>
                                          
                     </table>

                Row Name: <input type="text" #myRowName>
                    
        </div>
    </body>
</html>